// Цвет основного фона
$body_background: #1D8B77;
// Цвет блоков
$block_background: #D4D4D4;
// Цвет заголовка в карточке 
$title_color: #404B5A;
// Цвет текста
$text_color: #212934;
// Цвет еткста для нижней части блока
$footer_text: #626262;
// Цвет кнопки добавления карточки
$color_button_add: #C4C4C4;
